<a href="https://colab.research.google.com/github/fedorovgv/WIT/blob/main/week3_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[високосный год](https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D1%81%D0%BE%D0%BA%D0%BE%D1%81%D0%BD%D1%8B%D0%B9_%D0%B3%D0%BE%D0%B4)

In [1]:
year = 1985

In [4]:
# (1985 % 4) == 0
(1985 % 400) == 0

False

In [5]:
(year % 4) == 0

False

In [19]:
year = 1996

if ((year % 4) == 0):
  print('Год високосный')
elif ((year % 400) == 0): 
  print('Год високосный')
else:
  print('Год не високосный')

Год високосный

In [20]:
dates = [1904, 1980, 1996, 2001, 2010]

In [27]:
year = dates[0]
if ((year % 4) == 0):
  print('Год високосный')
elif ((year % 400) == 0): 
  print('Год високосный')
else:
  print('Год не високосный')

Год високосный

In [28]:
for i in range(len(dates)):
  year = dates[i]

  print('Год', year)
  
  if ((year % 4) == 0):
    print('Год високосный')
  elif ((year % 400) == 0): 
    print('Год високосный')
  else:
    print('Год не високосный')

Год 1904
Год високосный
Год 1980
Год високосный
Год 1996
Год високосный
Год 2001
Год не високосный
Год 2010
Год не високосный

In [29]:
dates = [1924, 1982, 1999, 2021, 2056]

In [30]:
for i in range(len(dates)):
  year = dates[i]

  print('Год', year)
  
  if ((year % 4) == 0):
    print('Год високосный')
  elif ((year % 400) == 0): 
    print('Год високосный')
  else:
    print('Год не високосный')

Год 1924
Год високосный
Год 1982
Год не високосный
Год 1999
Год не високосный
Год 2021
Год не високосный
Год 2056
Год високосный

In [41]:
def is_year_leap(a):
  if ((a % 4) == 0):
    print('Год високосный')
  elif ((a % 400) == 0): 
    print('Год високосный')
  else:
    print('Год не високосный')

In [42]:
is_year_leap(1984)

Год високосный

In [43]:
for i in range(len(dates)):
  print('Год', year, end=' ')
  is_year_leap(dates[i])

Год 2056 Год високосный
Год 2056 Год не високосный
Год 2056 Год не високосный
Год 2056 Год не високосный
Год 2056 Год високосный

In [44]:
def do_nothing():
  print('do nothing')

In [46]:
do_nothing()

do nothing

In [47]:
def custom_sum(a, b):
  print(a + b)

In [48]:
custom_sum(1, 2)

3

In [50]:
def custom_sum(a, b):
  return a + b

In [51]:
a = 4
b = 5
c = custom_sum(a, b)

In [52]:
c

9