<a href="https://colab.research.google.com/github/fedorovgv/WIT/blob/main/week_4_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Трогаем фундамент**

Мы заканчиваем изучать основы языка `Python` и пришло время попробовать язык в деле. Краткое резюме того, что мы уже знаем:

- простые типа данных `int, str, bool ..`
- условия `if .. else ..`
- функций `def foo(): ..`
- контейнеры `list, tuple, dict, set`

### **Все новое - хорошо забытое старое**

Вспомним для начала пройденное на 3 неделе, а именно, условия, циклы и фукнции. 

Краткое напоминание. 

**Операторы**

В python существуют операторы сравнения, например, `==`, `!=`, `<`, `<=`, `>=`, '>'. Сравнивают числа и результатом из работы является `True` или `False` - логическое значение. Проверим:

In [3]:
print(1 < 2)

True

In [4]:
type(1 < 2)

bool

**Условия** (условные инструкции)

Условие в питоне выглядит следующим образом: 
```Python
if statement1 :  
    do something if statement1 is true
elif statement2 : 
    do something if statement2 is true
elif statement3 : 
    do something if statement3 is true
... 
else: 
   do something if the previous condition are false
```

Так же условия можно комбинировать и применять к ним логические операторы `and` и `or`.

Например, мы хотим проверить, делится ли число на 6. Мы знаем, что для этого число должно делиться и на 2, и на 3. Положим число в переменную num и проверим его делимость.

In [5]:
num = 66

In [6]:
# число делится на 2, когда остаток от его деления равен нулю
num % 2

0

In [7]:
# применим оператор сравнения, чтобы получить True или False
num % 2 == 0

True

In [8]:
# аналогично для 3
num % 3 == 0

True

Оператор `and` возращает `True` если значение справа и значение слева `True` или `False` иначе. 

Оператор `or` возращает `True` если хотя бы справа или хотя бы слева одно из значение `True` и `False` иначе.

In [9]:
True and True

True

In [10]:
False and True

False

In [11]:
False or True

True

In [12]:
False or False

False

Применим:

In [13]:
# значение справа True, если число делится на 3, слева если делится на 2
(num % 2 == 0) and (num % 3 == 0)

True

In [14]:
num = 12345

(num % 2 == 0) and (num % 3 == 0)

False

**Упражение 0.**

Пример, пусть у нас есть переменная year, которая содержит год в периоде между 1801 и 2022 годом и нам нужно определить век. Выведите через print век в произвольной форме.

- 1801 г. - 1901 г. -- 19 век
- 1901 г. - 2001 г. -- 20 век
- 2001 г. - 2022 г. -- 21 век

Сделайте это с помощью условия:

In [ ]:
# положим что-то в переменную year
year = 1985

# ваш код должен быть ниже

<details><summary>Решение (можно нажать на меня после выполнения и сверить решение)</summary>

```Python
if (year >= 1801) and (year <= 1900):
    print('19 век')
elif (year >= 1901) and (year <= 2000):
    print('20 век')
elif (year >= 2001) and (year <= 2022):
    print('21 век')
```

# или 

```Python
if (year >= 1801) and (year <= 1900):
    print('19 век')
elif (year >= 1901) and (year <= 2000):
    print('20 век')
elif:
    print('21 век')
```
</details>

**Циклы**

В `python` существуют циклы, которые помогают перебирать нам элементы - `for` и `while`. Конструкции: 

```Python
for item in something:
   do something 
```

Пока мы перебираем значения `item` в `something` мы делаем `do something`. 

```Python
while statement: 
    do something 
```

Пока выполняется условие `statement` мы делаем `do something`. 

Обратите внимание на отступы! Отступом мы показываем кусок кода, который относится к if, else, elif и for, while. 

Пример:

In [15]:
years = [1980, 1987, 1995, 1996, 2010, 2022]
for year in years:
    print(year)

1980
1987
1995
1996
2010
2022

In [16]:
# вспомним, что мы можем обращаться к элементам листа по индексам и
#  вспомним range из лекций переберем элементы листа по значениям

years = [1980, 1987, 1995, 1996, 2010, 2022]

for i in range(len(years)):
    print(years[i])

1980
1987
1995
1996
2010
2022

In [18]:
# выведем только первые три года

years = [1980, 1987, 1995, 1996, 2010, 2022]

i = 0
while i < 3:
    print(years[i])
    i = i + 1

1980
1987
1995

Видим, что while работает только пока `i < 3`. Обратите внимание, что нам необходимо увеличивать значение i каждый раз самостоятельно. 

**Упражнение 1**

Ниже вам дан массив `years`, использую результат упражнения 0 выведите для каждого года из массива его век используя for и while в формате `1907 это 20 век`.

In [19]:
years = [1907, 1956, 1802, 1867, 2001, 2002, 1899]

In [ ]:
# используйте for

In [20]:
# используйте while

<details><summary>Решение (можно нажать на меня после выполнения и сверить решение)</summary>

```Python
for year in years:
  if (year >= 1801) and (year <= 1900):
      print(year, ' это 19 век')
  elif (year >= 1901) and (year <= 2000):
      print(year, ' это 20 век')
  elif (year >= 2001) and (year <= 2022):
      print(year, ' это 21 век')
```
или
```Python
for i in range(len(years)):
  if (years[i] >= 1801) and (years[i] <= 1900):
      print(years[i], ' это 19 век')
  elif (years[i] >= 1901) and (years[i] <= 2000):
      print(years[i], ' это 20 век')
  elif (years[i] >= 2001) and (years[i] <= 2022):
      print(years[i], ' это 21 век')
```

или 

```Python
i = 0
while i < len(years):
  if (years[i] >= 1801) and (years[i] <= 1900):
      print('19 век')
  elif (years[i] >= 1901) and (years[i] <= 2000):
      print('20 век')
  elif:
      print('21 век')
  i += 1
```
</details>

**Функции**

В `python` есть функции. Подобно функциям в математике они принимают значения, что-то с ними делают и возращают результат. Конструкция: 

```Python
def name_of_function(variable_1, .. ,variable_n): 
    do something 
    return something
```

Объявление функции начинается с `def` - объявление функции. Ее названия - `name_of_function`. Лучше отображать суть функции в ее названии, например, `sum_three_value`, `calculate_median_of_array`и проч. 

В круглых скобках после названия функции перечисляются имена переменных, которые будут использоваться **внутри** функции. Затем отступом показываем, кусок кода, который относится к функции и словом return показываем, что именно мы хотим вернуть. Например, напишем функцию, которая складывает три числа:

In [21]:
def sum_three_numbers(a, b, c):
    result = a + b + c
    return result

Функции используются в том числе, чтобы экономить место в программах. Объявленную функцию мы можем вызывать в любой момент. Наша программа простая и сожержит две строки, но бывают функции которые содержат много строк и нам бы не хотелось писать все их в разные моменты времени. 

Применим функцию для трех чисел. Мы можем передать переменные или сразу значения:

In [23]:
# заведем переменные для чисел
num1 = 1
num2 = 12
num3 = 3

# передадим их в функцию и сохраним результат в переменную d
d = sum_three_numbers(num1, num2, num3)

print(d)

16

In [24]:
e = sum_three_numbers(1, 12, 3)

print(e)

16

In [26]:
num4 = 123
f = sum_three_numbers(1, num4, 3)

print(f)

127

**Упражнение 2**

Напишите функцию, которая принимает год (переменную `y`) и возвращает True, если `y` - в 20 веке и False в 19 или 21 веке. Программу назовите, is_twenty_century. Протестируйте ее для произвольных номеров года.

In [27]:
# ваш код тут

<details><summary>Подсказка 0.</summary>

```Python
def is_twenty_century(y):
   тут написать условную конструкцию из упр. 0
```

</details>

<details><summary>Подсказка 1.</summary>

Заведите переменную в которую будете складывать True или False, в зависимости от того, вылняется ли условие или нет и которое потом вернете.

```Python
def is_twenty_century(y):
   if ... :     
      result = .. 
   elif ... :     
   ...
   return result
```

</details>

<details><summary>Решение (можно нажать на меня после выполнения и сверить решение)</summary>

```Python
def is_twenty_century(y):
  if (y >= 1801) and (y <= 1900):
      result = False
  elif (y >= 1901) and (y <= 2000):
      result = True
  else:
      result = False
  return result
```

</details>

**Упражнение 3**

Напишите функцию, которая принимает лист годов (переменная `years_list`) и считает количество лет из 21 века. Функцию назовите `twenty_one_years_ccounter`.


В данном задании вам необходимо в теле функции использовать цикл и внутри цикла напсать условную конструкцию, для этого нужно использовать двойные отступы.

In [30]:
# передайте этот массив в функцию в качестве переменной years_list
years = [1907, 1956, 1802, 1867, 2001, 2002, 1899]

In [32]:
# ваш код тут

<details><summary>Подсказка 0.</summary>

```Python
def twenty_one_years_countes(years_list):
  ...  
```


</details>

<details><summary>Подсказка 1.</summary>

Заведем переменную, которую будем увеличивать, если год из 21 века. 

```Python
def twenty_one_years_counter(years_list):
  counter = 0
  for i in range(len(years_list)):
    увеличиваем counter если выполняется условие
  return counter
```

</details>

<details><summary>Решение.</summary>

Заведем переменную, которую будем увеличивать, если год из 21 века. 

```Python
def twenty_one_years_counter(years_list):
  counter = 0
  for i in range(len(years_list)):
    if (years_list[i] >= 2001) and (years_list[i] <= 2100):
        counter = counter + 1
  return counter
```

</details>

Теперь мы вспомнили основы языка и готовы начать наш большой профессиональный путь! 

Я обещал говорить вам о реальном применении тех или иных конструкций языка, но пройденные в данной тетрадке конструкции являются базисом и так часто используются, что через пару недель у вас не возникнет вопроса об применении на практике.